@import url("/assets/css/mobile/universal.css");

@media screen and (max-width: 768px) {
    header * {
        font-size: 24px;
    }

    .sidebar {
        width: 100%;
        font-size: 20px;
    }

    .sidebar a {
        margin-bottom: 10px;
    }

    .introduction img {
        max-width: 45%;
        max-height: auto;
    }

    .sociallink * {
        font-size: 24px;
    }
    
    .support .support-links {
        flex-direction: column;
        gap: 24px;
        max-width: 240px;
    }
}